wsdl/AdGroupTargetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201806/AdGroupTarget"
        xmlns:tns="http://im.yahooapis.jp/V201806/AdGroupTarget"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201806"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201806">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201806/AdGroupTarget"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201806"
            xmlns:tns="http://im.yahooapis.jp/V201806/AdGroupTarget">
      <xsd:import namespace="http://im.yahooapis.jp/V201806"/>
      <annotation>
        <appinfo>
          <version>201806</version>
        </appinfo>
      </annotation>
      <complexType name="AdGroupTargetSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="targetTypes" type="tns:TargetType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupTargetPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupTargetValue"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupTarget">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="bidMultiplier" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="target" type="tns:Target"/>
        </sequence>
      </complexType>
      <complexType name="Target">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="type" type="tns:TargetType"/>
          <element maxOccurs="1" minOccurs="0" name="targetId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="isRemove" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <simpleType name="TargetType">
        <restriction base="xsd:string">
          <enumeration value="AD_SCHEDULE_TARGET"/>
          <enumeration value="GEO_TARGET"/>
          <enumeration value="AGE_TARGET"/>
          <enumeration value="GENDER_TARGET"/>
          <enumeration value="INTEREST_CATEGORY"/>
          <enumeration value="SITE_CATEGORY"/>
          <enumeration value="SITE_RETARGETING"/>
          <enumeration value="SEARCH_TARGET"/>
          <enumeration value="PLACEMENT_TARGET"/>
          <enumeration value="DEVICE_TARGET"/>
          <enumeration value="CARRIER_TARGET"/>
          <enumeration value="APP_TARGET"/>
          <enumeration value="OS_TARGET"/>
          <enumeration value="OS_VERSION_TARGET"/>
        </restriction>
      </simpleType>
      <simpleType name="TargetListDeliverType">
        <restriction base="xsd:string">
          <enumeration value="INCLUDE"/>
          <enumeration value="EXCLUDE"/>
        </restriction>
      </simpleType>
      <simpleType name="Age">
        <restriction base="xsd:string">
          <enumeration value="GT_RANGE12_14"/>
          <enumeration value="GT_RANGE15_17"/>
          <enumeration value="GT_RANGE18_19"/>
          <enumeration value="GT_RANGE20_21"/>
          <enumeration value="GT_RANGE22_29"/>
          <enumeration value="GT_RANGE30_39"/>
          <enumeration value="GT_RANGE40_49"/>
          <enumeration value="GT_RANGE50_59"/>
          <enumeration value="GT_RANGE60_69"/>
          <enumeration value="GT_RANGE70_UL"/>
          <enumeration value="GT_UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="EstimateFlg">
        <restriction base="xsd:string">
          <enumeration value="PAUSED"/>
          <enumeration value="ACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="DayOfWeek">
        <restriction base="xsd:string">
          <enumeration value="MONDAY"/>
          <enumeration value="TUESDAY"/>
          <enumeration value="WEDNESDAY"/>
          <enumeration value="THURSDAY"/>
          <enumeration value="FRIDAY"/>
          <enumeration value="SATURDAY"/>
          <enumeration value="SUNDAY"/>
        </restriction>
      </simpleType>
      <simpleType name="Gender">
        <restriction base="xsd:string">
          <enumeration value="ST_MALE"/>
          <enumeration value="ST_FEMALE"/>
          <enumeration value="ST_UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="PlacementUrlListType">
        <restriction base="xsd:string">
          <enumeration value="WHITE_LIST"/>
          <enumeration value="BLACK_LIST"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceType">
        <restriction base="xsd:string">
          <enumeration value="DESKTOP"/>
          <enumeration value="WAP_MOBILE"/>
          <enumeration value="SMARTPHONE"/>
          <enumeration value="TABLET"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceAppType">
        <restriction base="xsd:string">
          <enumeration value="APP"/>
          <enumeration value="WEB"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceOsType">
        <restriction base="xsd:string">
          <enumeration value="IOS"/>
          <enumeration value="ANDROID"/>
        </restriction>
      </simpleType>
      <simpleType name="CarrierType">
        <restriction base="xsd:string">
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="YMOBILE"/>
          <enumeration value="OTHERS"/>
        </restriction>
      </simpleType>
      <complexType name="AdScheduleTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="dayOfWeek" type="tns:DayOfWeek"/>
              <element maxOccurs="1" minOccurs="0" name="startHour" type="xsd:int"/>
              <element maxOccurs="1" minOccurs="0" name="endHour" type="xsd:int"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GeoTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="geoNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="geoNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AgeTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="age" type="tns:Age"/>
              <element maxOccurs="1" minOccurs="0" name="estimateFlg" type="tns:EstimateFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GenderTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="gender" type="tns:Gender"/>
              <element maxOccurs="1" minOccurs="0" name="estimateFlg" type="tns:EstimateFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="InterestCategoryTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SearchTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="searchKeywordListName" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SiteCategoryTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SiteRetargetingTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetListName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="deliverType" type="tns:TargetListDeliverType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PlacementTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="placementUrlListName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="deliverType" type="tns:PlacementUrlListType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DeviceTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="deviceType" type="tns:DeviceType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CarrierTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="mobileCarrier" type="tns:CarrierType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AppTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="appType" type="tns:DeviceAppType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="osType" type="tns:DeviceOsType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsVersionTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="osVersion" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupTargetOperation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:AdGroupTarget"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupTargetMutateOperation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:AdGroupTarget"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupTargetReturnValue">
        <complexContent>
          <extension base="tns:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupTargetValue"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupTargetValue">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="adGroupTargetList" type="tns:AdGroupTarget"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AdGroupTargetSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupTargetPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AdGroupTargetMutateOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupTargetReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="replace">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AdGroupTargetOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="replaceResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupTargetReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="replaceRequest">
    <wsdl:part element="tns:replace" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="replaceResponse">
    <wsdl:part element="tns:replaceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="AdGroupTargetServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="replace">
      <wsdl:input message="tns:replaceRequest" name="replaceRequest"/>
      <wsdl:output message="tns:replaceResponse" name="replaceResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdGroupTargetServiceSoapBinding" type="tns:AdGroupTargetServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="replace">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="replaceRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="replaceResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdGroupTargetServiceService">
    <wsdl:port binding="tns:AdGroupTargetServiceSoapBinding" name="AdGroupTargetService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201806/AdGroupTargetService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>