wsdl/AdGroupService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201903/AdGroup"
        xmlns:tns="http://im.yahooapis.jp/V201903/AdGroup"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201903">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903/AdGroup"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201903"
            xmlns:tns="http://im.yahooapis.jp/V201903/AdGroup">
      <xsd:import namespace="http://im.yahooapis.jp/V201903"/>
      <annotation>
        <appinfo>
          <version>201903</version>
        </appinfo>
      </annotation>
      <complexType name="AdGroupSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="labelIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="containsLabelIdFlg" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="userStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="feedSetIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="adGroup" type="tns:AdGroup"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroup">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="userStatus" type="tns:UserStatus"/>
          <element maxOccurs="1" minOccurs="0" name="bid" type="tns:AdGroupBid"/>
          <element maxOccurs="1" minOccurs="0" name="conversionOptimizer" type="tns:AdGroupConversionOptimizer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="device" type="tns:DeviceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="deviceApp" type="tns:DeviceAppType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="deviceOs" type="tns:DeviceOsType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="smartDeviceCarriers" type="tns:SmartDeviceCarrier"/>
          <element maxOccurs="1" minOccurs="0" name="deviceOsVersion" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="dynamicImageExtensions" type="tns:DynamicImageExtensions"/>
          <element maxOccurs="unbounded" minOccurs="0" name="labels" type="tns:Label"/>
          <element maxOccurs="1" minOccurs="0" name="feedSetId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="isRemoveFeedSetId" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="AdGroupBid">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:BiddingStrategyType"/>
        </sequence>
      </complexType>
      <complexType name="ManualCPCAdGroupBid">
        <complexContent>
          <extension base="tns:AdGroupBid">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="maxCpc" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ManualCPVAdGroupBid">
        <complexContent>
          <extension base="tns:AdGroupBid">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="maxCpv" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupConversionOptimizer">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="optimizerType" type="tns:AdGroupConversionOptimizerType"/>
        </sequence>
      </complexType>
      <complexType name="AutoAdGroupConversionOptimizer">
        <complexContent>
          <extension base="tns:AdGroupConversionOptimizer">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetCpa" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="eligibilityFlg" type="tns:ConversionOptimizerEligibilityFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ManualAdGroupConversionOptimizer">
        <complexContent>
          <extension base="tns:AdGroupConversionOptimizer">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="eligibilityFlg" type="tns:ConversionOptimizerEligibilityFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NoneAdGroupConversionOptimizer">
        <complexContent>
          <extension base="tns:AdGroupConversionOptimizer">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="eligibilityFlg" type="tns:ConversionOptimizerEligibilityFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="AdGroupConversionOptimizerType">
        <restriction base="xsd:string">
          <enumeration value="NONE"/>
          <enumeration value="MANUAL"/>
          <enumeration value="AUTO"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionOptimizerEligibilityFlg">
        <restriction base="xsd:string">
          <enumeration value="ENABLE"/>
          <enumeration value="DISABLE"/>
        </restriction>
      </simpleType>
      <complexType name="AdGroupOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:AdGroup"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AdGroupSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AdGroupOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <simpleType name="UserStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="BiddingStrategyType">
        <restriction base="xsd:string">
          <enumeration value="MANUAL_CPC"/>
          <enumeration value="MANUAL_CPV"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceType">
        <restriction base="xsd:string">
          <enumeration value="DESKTOP"/>
          <enumeration value="WAP_MOBILE"/>
          <enumeration value="SMARTPHONE"/>
          <enumeration value="TABLET"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceAppType">
        <restriction base="xsd:string">
          <enumeration value="APP"/>
          <enumeration value="WEB"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceOsType">
        <restriction base="xsd:string">
          <enumeration value="IOS"/>
          <enumeration value="ANDROID"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>
      <simpleType name="SmartDeviceCarrier">
        <restriction base="xsd:string">
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="YMOBILE"/>
          <enumeration value="OTHERS"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>
      <simpleType name="DynamicImageExtensions">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <complexType name="Label">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="labelId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="labelName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="color" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="AdGroupServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdGroupServiceSoapBinding" type="tns:AdGroupServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdGroupService">
    <wsdl:port binding="tns:AdGroupServiceSoapBinding" name="AdGroupService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201903/AdGroupService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
