wsdl/AuditLogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://im.yahooapis.jp/V6"
  xmlns:tns="http://im.yahooapis.jp/V6"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
      targetNamespace="http://im.yahooapis.jp/V6"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://im.yahooapis.jp/V6">
      <annotation>
        <appinfo>
          <version>6.0.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="getDownload">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AuditLogDownloadSelector"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AuditLogDownloadSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="updateSources" type="tns:AuditLogUpdateSource"/>
          <element maxOccurs="1" minOccurs="0" name="dateRange" type="tns:AuditLogDateRange"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJob" type="tns:AuditLogJob"/>
          <element maxOccurs="1" minOccurs="0" name="lang" type="tns:AuditLogLang"/>
        </sequence>
      </complexType>
      <complexType name="AuditLogDateRange">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="AuditLogUpdateSource">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN_MANAGEMENT_TOOL"/>
          <enumeration value="API"/>
        </restriction>
      </simpleType>
      <simpleType name="AuditLogLang">
        <restriction base="xsd:string">
          <enumeration value="JA"/>
          <enumeration value="EN"/>
         </restriction>
      </simpleType>
      <element name="getDownloadResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AuditLogDownloadReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AuditLogDownloadReturnValue">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AuditLogDownloadValues"/>
        </sequence>
      </complexType>
      <complexType name="AuditLogDownloadValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="auditLogJob" type="tns:AuditLogJob"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="getDownloadStatus">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AuditLogDownloadStatusSelector"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AuditLogDownloadStatusSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="auditLogJobIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="auditLogJobStatuses" type="tns:AuditLogDownloadJobStatus"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <element name="getDownloadStatusResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AuditLogDownloadStatusPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AuditLogDownloadStatusPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AuditLogDownloadValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="AuditLogDownloadJobStatus">
        <restriction base="xsd:string">
          <enumeration value="IN_PROGRESS"/>
          <enumeration value="COMPLETED"/>
          <enumeration value="SYSTEM_ERROR"/>
        </restriction>
      </simpleType>
      <complexType name="AuditLogJob">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobUserName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobEndDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="auditLogJobStatus" type="tns:AuditLogDownloadJobStatus"/>
          <element maxOccurs="1" minOccurs="0" name="progress" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="downloadAuditLogDownloadUrl" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getDownloadRequest">
    <wsdl:part element="tns:getDownload" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDownloadResponse">
    <wsdl:part element="tns:getDownloadResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDownloadStatusRequest">
    <wsdl:part element="tns:getDownloadStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDownloadStatusResponse">
    <wsdl:part element="tns:getDownloadStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
 <wsdl:portType name="AuditLogServiceInterface">
    <wsdl:operation name="getDownload">
      <wsdl:input message="tns:getDownloadRequest" name="getDownloadRequest"/>
      <wsdl:output message="tns:getDownloadResponse" name="getDownloadResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getDownloadStatus">
      <wsdl:input message="tns:getDownloadStatusRequest" name="getDownloadStatusRequest"/>
      <wsdl:output message="tns:getDownloadStatusResponse" name="getDownloadStatusResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditLogServiceSoapBinding" type="tns:AuditLogServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDownload">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDownloadRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDownloadResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDownloadStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDownloadStatusRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDownloadStatusResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditLogServiceService">
    <wsdl:port binding="tns:AuditLogServiceSoapBinding" name="AuditLogService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6.0/AuditLogService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>