wsdl/ConversionTrackerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201907/ConversionTracker"
        xmlns:tns="http://im.yahooapis.jp/V201907/ConversionTracker"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201907"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201907">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201907/ConversionTracker"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201907"
            xmlns:tns="http://im.yahooapis.jp/V201907/ConversionTracker">
      <xsd:import namespace="http://im.yahooapis.jp/V201907"/>
      <annotation>
        <appinfo>
          <version>201907</version>
        </appinfo>
      </annotation>
      <complexType name="ConversionTrackerSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="conversionTrackerIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="conversionTrackerTypes" type="tns:ConversionTrackerType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="statuses" type="tns:ConversionTrackerStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:ConversionTrackerCategory"/>
          <element maxOccurs="unbounded" minOccurs="0" name="appIds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="countingType" type="tns:ConversionCountingType"/>
          <element maxOccurs="1" minOccurs="0" name="excludeFromBidding" type="tns:ExcludeFromBidding"/>
          <element maxOccurs="1" minOccurs="0" name="appPlatform" type="tns:AppConversionPlatform"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriod" type="tns:StatsPeriod"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="ConversionTracker" abstract="true">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="status" type="tns:ConversionTrackerStatus"/>
          <element maxOccurs="1" minOccurs="0" name="category" type="tns:ConversionTrackerCategory"/>
          <element maxOccurs="1" minOccurs="0" name="userRevenueValue" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerType" type="tns:ConversionTrackerType"/>
          <element maxOccurs="1" minOccurs="0" name="countingType" type="tns:ConversionCountingType"/>
          <element maxOccurs="1" minOccurs="0" name="measurementPeriod" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="measurementPeriodView" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="excludeFromBidding" type="tns:ExcludeFromBidding"/>
          <element maxOccurs="1" minOccurs="0" name="conversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionsViaAdClick" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValueViaAdClick" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="allConversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="allConversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="crossDeviceConversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="mostRecentConversionDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="WebConversion">
        <complexContent>
          <extension base="tns:ConversionTracker">
            <sequence>
              <element maxOccurs="2" minOccurs="0" name="snippet" type="tns:WebConversionSnippet"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="WebConversionSnippet">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:WebConversionSnippetType"/>
          <element maxOccurs="1" minOccurs="0" name="tag" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="AppConversion">
        <complexContent>
          <extension base="tns:ConversionTracker">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="appId" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="appPlatform" type="tns:AppConversionPlatform"/>
              <element maxOccurs="1" minOccurs="0" name="appConversionType" type="tns:AppConversionType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="ConversionTrackerStatus">
        <restriction base="xsd:string">
          <enumeration value="ENABLED"/>
          <enumeration value="DISABLED"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionTrackerCategory">
        <restriction base="xsd:string">
          <enumeration value="NONE"/>
          <enumeration value="DEFAULT"/>
          <enumeration value="PAGE_VIEW"/>
          <enumeration value="PURCHASE"/>
          <enumeration value="SIGNUP"/>
          <enumeration value="LEAD"/>
          <enumeration value="DOWNLOAD"/>
        </restriction>
      </simpleType>
      <simpleType name="StatsPeriod">
        <restriction base="xsd:string">
          <enumeration value="DEFINITE_VALUE_YESTERDAY"/>
          <enumeration value="DEFINITE_VALUE_LASTBSDAY"/>
          <enumeration value="DEFINITE_VALUE_LASTWEEK"/>
          <enumeration value="DEFINITE_VALUE_WEEK"/>
          <enumeration value="DEFINITE_VALUE_TWOWEEK"/>
          <enumeration value="DEFINITE_VALUE_THIRTYDAY"/>
          <enumeration value="DEFINITE_VALUE_LASTMONTH"/>
          <enumeration value="REALTIME_TODAY"/>
          <enumeration value="REALTIME_MONTH"/>
          <enumeration value="DEFINITE_VALUE_LAST13MONTH"/>
          <enumeration value="CUSTOM_DATE"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionTrackerType">
        <restriction base="xsd:string">
          <enumeration value="WEB_CONVERSION"/>
          <enumeration value="APP_CONVERSION"/>
        </restriction>
      </simpleType>
      <simpleType name="WebConversionSnippetType">
        <restriction base="xsd:string">
          <enumeration value="IMG"/>
          <enumeration value="JS"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionCountingType">
        <restriction base="xsd:string">
          <enumeration value="ONE_PER_CLICK"/>
          <enumeration value="MANY_PER_CLICK"/>
        </restriction>
      </simpleType>
      <simpleType name="ExcludeFromBidding">
        <restriction base="xsd:string">
          <enumeration value="FALSE"/>
          <enumeration value="TRUE"/>
        </restriction>
      </simpleType>
      <simpleType name="AppConversionPlatform">
        <restriction base="xsd:string">
          <enumeration value="ITUNES"/>
          <enumeration value="ANDROID_MARKET"/>
        </restriction>
      </simpleType>
      <simpleType name="AppConversionType">
        <restriction base="xsd:string">
          <enumeration value="FIRST_OPEN"/>
        </restriction>
      </simpleType>
      <complexType name="ConversionTrackerPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="totalConversions" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="totalConversionValue" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="totalConversionsViaAdClick" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="totalConversionValueViaAdClick" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="totalAllConversions" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="totalAllConversionValue" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="totalCrossDeviceConversions" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="period" type="tns:Period"/>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ConversionTrackerValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Period">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodStartDate" type="tns:PeriodDatetime"/>
          <element maxOccurs="1" minOccurs="0" name="periodEndDate" type="tns:PeriodDatetime"/>
        </sequence>
      </complexType>
      <complexType name="PeriodDatetime">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="periodTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ConversionTrackerValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="conversionTracker" type="tns:ConversionTracker"/>
              <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ConversionTrackerOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:ConversionTracker"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
        </restriction>
      </simpleType>
      <complexType name="ConversionTrackerReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ConversionTrackerValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="StatsPeriodCustomDate">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="statsStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="statsEndDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:ConversionTrackerSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ConversionTrackerPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:ConversionTrackerOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ConversionTrackerReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="ConversionTrackerServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConversionTrackerServiceSoapBinding" type="tns:ConversionTrackerServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionTrackerService">
    <wsdl:port binding="tns:ConversionTrackerServiceSoapBinding" name="ConversionTrackerService">
      <wsdlsoap:address location="https://location.im.yahooapis.jp/services/V201907/ConversionTrackerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
