wsdl/DictionaryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201911/Dictionary"
        xmlns:tns="http://im.yahooapis.jp/V201911/Dictionary"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201911"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201911">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201911/Dictionary"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201911"
            xmlns:tns="http://im.yahooapis.jp/V201911/Dictionary">
      <xsd:import namespace="http://im.yahooapis.jp/V201911"/>
      <annotation>
        <appinfo>
          <version>201911</version>
        </appinfo>
      </annotation>
      <complexType name="DisapprovalReasonSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:DictionaryLang"/>
        </sequence>
      </complexType>
      <complexType name="DisapprovalReasonPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:DisapprovalReasonValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DisapprovalReasonValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="disapprovalReason" type="tns:DisapprovalReason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DisapprovalReason">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="disapprovalReasonCode" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="lang" type="tns:DictionaryLang"/>
          <element maxOccurs="1" minOccurs="0" name="title" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="recommendation" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="GeographicLocationSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:DictionaryLang"/>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:GeographicLocationType"/>
        </sequence>
      </complexType>
      <complexType name="GeographicLocationPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:GeographicLocationValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GeographicLocationValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="geographicLocation" type="tns:GeographicLocation"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GeographicLocation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="order" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="fullName" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:GeographicLocation"/>
        </sequence>
      </complexType>
      <simpleType name="GeographicLocationType">
        <restriction base="xsd:string">
          <enumeration value="TARGETING"/>
          <enumeration value="FEED"/>
        </restriction>
      </simpleType>
      <complexType name="CategorySelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:DictionaryLang"/>
        </sequence>
      </complexType>
      <complexType name="CategoryPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:CategoryValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CategoryValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="category" type="tns:Category"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Category">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:CategoryChildValues"/>
        </sequence>
      </complexType>
      <complexType name="CategoryChildValues">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="fullName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="reachDesktop" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="reachSmartphone" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="reachTablet" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="AudienceCategoryPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AudienceCategoryValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AudienceCategoryValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="category" type="tns:AudienceCategory"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AudienceCategory">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="fullName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="reach" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="categoryType" type="tns:AudienceCategoryType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:AudienceCategory"/>
        </sequence>
      </complexType>
      <simpleType name="AudienceCategoryType">
        <restriction base="xsd:string">
          <enumeration value="AFFINITY"/>
          <enumeration value="IN_MARKET"/>
        </restriction>
      </simpleType>
      <simpleType name="DictionaryLang">
        <restriction base="xsd:string">
          <enumeration value="JA"/>
          <enumeration value="EN"/>
        </restriction>
      </simpleType>
      <element name="getDisapprovalReason">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:DisapprovalReasonSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getDisapprovalReasonResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:DisapprovalReasonPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getGeographicLocation">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:GeographicLocationSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getGeographicLocationResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:GeographicLocationPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getInterestCategory">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:CategorySelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getInterestCategoryResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:CategoryPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getSiteCategory">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:CategorySelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getSiteCategoryResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:CategoryPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getAudienceCategory">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:CategorySelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getAudienceCategoryResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AudienceCategoryPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getOsVersion">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:OsVersionSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getOsVersionResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:OsVersionPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="OsVersionSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="osType" type="tns:DeviceOsType"/>
        </sequence>
      </complexType>
      <complexType name="OsVersionPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:OsVersionValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsVersionValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="osVersion" type="tns:OsVersion"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsVersion">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="osType" type="tns:DeviceOsType"/>
          <element maxOccurs="1" minOccurs="1" name="version" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="DeviceOsType">
        <restriction base="xsd:string">
          <enumeration value="ANDROID"/>
          <enumeration value="IOS"/>
        </restriction>
      </simpleType>
      <element name="getMediaAdFormat">
        <complexType/>
      </element>
      <element name="getMediaAdFormatResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:MediaAdFormatPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="MediaAdFormatPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:MediaAdFormatValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="MediaAdFormatValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="mediaAdFormat" type="tns:MediaAdFormat"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="MediaAdFormat">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="adFormat" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="width" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="height" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="size" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="transparent" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="1" name="logo" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="1" name="thumbnail" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="1" name="sizeTo" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="maxWidth" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="maxHeight" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="aspectWidth" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="aspectHeight" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="staticImage" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="1" name="aspect" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="1" name="aspectRatio" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="campaignBanner" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <element name="getThirdPartyTrackingDomain">
        <complexType/>
      </element>
      <element name="getThirdPartyTrackingDomainResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ThirdPartyTrackingDomainPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="ThirdPartyTrackingDomainPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ThirdPartyTrackingDomainValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ThirdPartyTrackingDomainValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="thirdPartyTrackingDomain" type="tns:ThirdPartyTrackingDomain"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ThirdPartyTrackingDomain">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="domain" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="vendor" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="vendorName" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="getFeedItemGoogleProductCategory">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:FeedItemGoogleProductCategorySelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getFeedItemGoogleProductCategoryResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:FeedItemGoogleProductCategoryPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="FeedItemGoogleProductCategorySelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:DictionaryLang"/>
        </sequence>
      </complexType>
      <complexType name="FeedItemGoogleProductCategoryPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:FeedItemGoogleProductCategoryValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FeedItemGoogleProductCategoryValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="FeedItemGoogleProductCategory" type="tns:FeedItemGoogleProductCategory"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FeedItemGoogleProductCategory">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="order" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="fullName" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:FeedItemGoogleProductCategory"/>
        </sequence>
      </complexType>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getDisapprovalReasonRequest">
    <wsdl:part element="tns:getDisapprovalReason" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDisapprovalReasonResponse">
    <wsdl:part element="tns:getDisapprovalReasonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGeographicLocationRequest">
    <wsdl:part element="tns:getGeographicLocation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGeographicLocationResponse">
    <wsdl:part element="tns:getGeographicLocationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getInterestCategoryRequest">
    <wsdl:part element="tns:getInterestCategory" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getInterestCategoryResponse">
    <wsdl:part element="tns:getInterestCategoryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSiteCategoryRequest">
    <wsdl:part element="tns:getSiteCategory" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSiteCategoryResponse">
    <wsdl:part element="tns:getSiteCategoryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getOsVersionRequest">
    <wsdl:part element="tns:getOsVersion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getOsVersionResponse">
    <wsdl:part element="tns:getOsVersionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getMediaAdFormatRequest">
    <wsdl:part element="tns:getMediaAdFormat" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getMediaAdFormatResponse">
    <wsdl:part element="tns:getMediaAdFormatResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAudienceCategoryRequest">
    <wsdl:part element="tns:getAudienceCategory" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAudienceCategoryResponse">
    <wsdl:part element="tns:getAudienceCategoryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getThirdPartyTrackingDomainRequest">
    <wsdl:part element="tns:getThirdPartyTrackingDomain" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getThirdPartyTrackingDomainResponse">
    <wsdl:part element="tns:getThirdPartyTrackingDomainResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getFeedItemGoogleProductCategoryRequest">
    <wsdl:part element="tns:getFeedItemGoogleProductCategory" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getFeedItemGoogleProductCategoryResponse">
    <wsdl:part element="tns:getFeedItemGoogleProductCategoryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="DictionaryServiceInterface">
    <wsdl:operation name="getDisapprovalReason">
      <wsdl:input message="tns:getDisapprovalReasonRequest" name="getDisapprovalReasonRequest"/>
      <wsdl:output message="tns:getDisapprovalReasonResponse" name="getDisapprovalReasonResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getGeographicLocation">
      <wsdl:input message="tns:getGeographicLocationRequest" name="getGeographicLocationRequest"/>
      <wsdl:output message="tns:getGeographicLocationResponse" name="getGeographicLocationResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getInterestCategory">
      <wsdl:input message="tns:getInterestCategoryRequest" name="getInterestCategoryRequest"/>
      <wsdl:output message="tns:getInterestCategoryResponse" name="getInterestCategoryResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getSiteCategory">
      <wsdl:input message="tns:getSiteCategoryRequest" name="getSiteCategoryRequest"/>
      <wsdl:output message="tns:getSiteCategoryResponse" name="getSiteCategoryResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getOsVersion">
      <wsdl:input message="tns:getOsVersionRequest" name="getOsVersionRequest"/>
      <wsdl:output message="tns:getOsVersionResponse" name="getOsVersionResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getMediaAdFormat">
      <wsdl:input message="tns:getMediaAdFormatRequest" name="getMediaAdFormatRequest"/>
      <wsdl:output message="tns:getMediaAdFormatResponse" name="getMediaAdFormatResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getAudienceCategory">
      <wsdl:input message="tns:getAudienceCategoryRequest" name="getAudienceCategoryRequest"/>
      <wsdl:output message="tns:getAudienceCategoryResponse" name="getAudienceCategoryResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getThirdPartyTrackingDomain">
      <wsdl:input message="tns:getThirdPartyTrackingDomainRequest" name="getThirdPartyTrackingDomainRequest"/>
      <wsdl:output message="tns:getThirdPartyTrackingDomainResponse" name="getThirdPartyTrackingDomainResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getFeedItemGoogleProductCategory">
      <wsdl:input message="tns:getFeedItemGoogleProductCategoryRequest" name="getFeedItemGoogleProductCategoryRequest"/>
      <wsdl:output message="tns:getFeedItemGoogleProductCategoryResponse" name="getFeedItemGoogleProductCategoryResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictionaryServiceSoapBinding" type="tns:DictionaryServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDisapprovalReason">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDisapprovalReasonRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDisapprovalReasonResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGeographicLocation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getGeographicLocationRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGeographicLocationResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInterestCategory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInterestCategoryRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInterestCategoryResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSiteCategory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getSiteCategoryRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSiteCategoryResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOsVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOsVersionRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOsVersionResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMediaAdFormat">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMediaAdFormatRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMediaAdFormatResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAudienceCategory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAudienceCategoryRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAudienceCategoryResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getThirdPartyTrackingDomain">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getThirdPartyTrackingDomainRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getThirdPartyTrackingDomainResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFeedItemGoogleProductCategory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFeedItemGoogleProductCategoryRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFeedItemGoogleProductCategoryResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryService">
    <wsdl:port binding="tns:DictionaryServiceSoapBinding" name="DictionaryService">
      <wsdlsoap:address location="https://location.im.yahooapis.jp/services/V201911/DictionaryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
