wsdl/FeedFtpService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201903/FeedFtp"
        xmlns:tns="http://im.yahooapis.jp/V201903/FeedFtp"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201903">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903/FeedFtp"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201903"
            xmlns:tns="http://im.yahooapis.jp/V201903/FeedFtp">
      <xsd:import namespace="http://im.yahooapis.jp/V201903"/>
      <annotation>
        <appinfo>
          <version>201903</version>
        </appinfo>
      </annotation>
      <complexType name="FeedFtpSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="feedHolderIds" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="FeedFtp">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="feedHolderId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="itemListUploadType" type="tns:ItemListUploadType"/>
          <element maxOccurs="1" minOccurs="0" name="schedule" type="tns:Schedule"/>
          <element maxOccurs="1" minOccurs="0" name="feedUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="userName" type="string"/>
          <element maxOccurs="1" minOccurs="0" name="userPassword" type="string"/>
          <element maxOccurs="1" minOccurs="0" name="activeStatus" type="tns:ActiveStatus"/>
        </sequence>
      </complexType>
      <complexType name="FeedFtpPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:FeedFtpValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FeedFtpValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="feedFtp" type="tns:FeedFtp"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FeedFtpOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:FeedFtp"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
        </restriction>
      </simpleType>
      <complexType name="FeedFtpReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:FeedFtpValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Schedule">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="type" type="tns:ScheduleType"/>
        </sequence>
      </complexType>
      <complexType name="ScheduleHourly">
        <complexContent>
          <extension base="tns:Schedule">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="interval" type="xsd:int"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ScheduleDaily">
        <complexContent>
          <extension base="tns:Schedule">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="time" type="xsd:int"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ScheduleWeekly">
        <complexContent>
          <extension base="tns:Schedule">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="time" type="xsd:int"/>
              <element maxOccurs="1" minOccurs="1" name="week" type="tns:ScheduleWeek"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="ItemListUploadType">
        <restriction base="xsd:string">
          <enumeration value="UPDATE_PART"/>
          <enumeration value="UPDATE_ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="ActiveStatus">
        <restriction base="xsd:string">
          <enumeration value="INACTIVE"/>
          <enumeration value="ACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="ScheduleType">
        <restriction base="xsd:string">
          <enumeration value="HOURLY"/>
          <enumeration value="DAILY"/>
          <enumeration value="WEEKLY"/>
        </restriction>
      </simpleType>
      <simpleType name="ScheduleWeek">
        <restriction base="xsd:string">
          <enumeration value="SUN"/>
          <enumeration value="MON"/>
          <enumeration value="TUE"/>
          <enumeration value="WED"/>
          <enumeration value="THU"/>
          <enumeration value="FRI"/>
          <enumeration value="SAT"/>
        </restriction>
      </simpleType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:FeedFtpSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:FeedFtpPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:FeedFtpOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:FeedFtpReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="FeedFtpServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedFtpServiceSoapBinding" type="tns:FeedFtpServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedFtpService">
    <wsdl:port binding="tns:FeedFtpServiceSoapBinding" name="FeedFtpService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201903/FeedFtpService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
