wsdl/RetargetingListService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201812/RetargetingList"
        xmlns:tns="http://im.yahooapis.jp/V201812/RetargetingList"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201812"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201812">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201812/RetargetingList"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201812"
            xmlns:tns="http://im.yahooapis.jp/V201812/RetargetingList">
      <xsd:import namespace="http://im.yahooapis.jp/V201812"/>
      <annotation>
        <appinfo>
          <version>201812</version>
        </appinfo>
      </annotation>
      <complexType name="RetargetingListSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="targetListIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="targetListTypes" type="tns:TargetListType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <simpleType name="TargetListType">
        <restriction base="xsd:string">
          <enumeration value="DEFAULT_LIST"/>
          <enumeration value="RULE"/>
          <enumeration value="COMBINATION"/>
          <enumeration value="SIMILARITY"/>
          <enumeration value="CUSTOM_AUDIENCE"/>
        </restriction>
      </simpleType>
      <complexType name="RetargetingList">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="targetListId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="targetListName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="deliveryStatus" type="tns:DeliveryStatus"/>
          <element maxOccurs="1" minOccurs="0" name="reach" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="targetList" type="tns:RetargetingTargetList"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="RetargetingTargetList">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="targetListType" type="tns:TargetListType"/>
        </sequence>
      </complexType>
      <complexType name="RuleTargetList">
        <complexContent>
          <extension base="tns:RetargetingTargetList">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="retargetingTagId" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="isPreset" type="tns:IsPreset"/>
              <element maxOccurs="1" minOccurs="0" name="isOpen" type="tns:IsOpen"/>
              <element maxOccurs="1" minOccurs="0" name="reachPeriod" type="xsd:int"/>
              <element maxOccurs="unbounded" minOccurs="0" name="rules" type="tns:Rule"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Rule">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="ruleConditions" type="tns:RuleCondition"/>
        </sequence>
      </complexType>
      <complexType name="RuleCondition">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:RuleType"/>
          <element maxOccurs="1" minOccurs="0" name="compareOperator" type="tns:CompareOperator"/>
          <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="CombinationTargetList">
        <complexContent>
          <extension base="tns:RetargetingTargetList">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="combinations" type="tns:Combination"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Combination">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="logicalOperator" type="tns:LogicalOperator"/>
          <element maxOccurs="unbounded" minOccurs="0" name="targetLists" type="tns:TargetListData"/>
        </sequence>
      </complexType>
      <complexType name="TargetListData">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="targetListId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="targetListName" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SimilarityTargetList">
        <complexContent>
          <extension base="tns:RetargetingTargetList">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetListId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="targetListSize" type="tns:TargetListSize"/>
              <element maxOccurs="10" minOccurs="0" name="targetListSizeReaches" type="tns:TargetListSizeReaches"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetListSizeReaches">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="targetListSize" type="tns:TargetListSize"/>
          <element maxOccurs="1" minOccurs="0" name="reach" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="CustomAudienceTargetList">
        <complexContent>
          <extension base="tns:RetargetingTargetList">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reachPeriod" type="xsd:int"/>
              <element maxOccurs="1" minOccurs="0" name="customAudienceId" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="TargetListSize">
        <restriction base="xsd:string">
          <enumeration value="RATE_1"/>
          <enumeration value="RATE_2"/>
          <enumeration value="RATE_3"/>
          <enumeration value="RATE_4"/>
          <enumeration value="RATE_5"/>
          <enumeration value="RATE_6"/>
          <enumeration value="RATE_7"/>
          <enumeration value="RATE_8"/>
          <enumeration value="RATE_9"/>
          <enumeration value="RATE_10"/>
        </restriction>
      </simpleType>
      <simpleType name="DeliveryStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="IsPreset">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <simpleType name="IsOpen">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <simpleType name="RuleType">
        <restriction base="xsd:string">
          <enumeration value="URL"/>
          <enumeration value="LABEL"/>
          <enumeration value="REFERER_URL"/>
          <enumeration value="PAGE_TYPE"/>
          <enumeration value="ITEM_ID"/>
          <enumeration value="ITEM_CATEGORY_ID"/>
          <enumeration value="EVENT_TYPE"/>
        </restriction>
      </simpleType>
      <simpleType name="CompareOperator">
        <restriction base="xsd:string">
          <enumeration value="EQUAL"/>
          <enumeration value="INCLUDED"/>
          <enumeration value="START_WITH"/>
          <enumeration value="END_WITH"/>
          <enumeration value="NOT_EQUAL"/>
          <enumeration value="NOT_INCLUDED"/>
          <enumeration value="NOT_START_WITH"/>
          <enumeration value="NOT_END_WITH"/>
        </restriction>
      </simpleType>
      <simpleType name="LogicalOperator">
        <restriction base="xsd:string">
          <enumeration value="OR"/>
          <enumeration value="AND"/>
          <enumeration value="NOTIN"/>
        </restriction>
      </simpleType>
      <complexType name="RetargetingListPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:RetargetingListValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RetargetingListValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="retargetingList" type="tns:RetargetingList"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RetargetingListOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:RetargetingList"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <complexType name="RetargetingListReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:RetargetingListValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:RetargetingListSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:RetargetingListPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:RetargetingListOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:RetargetingListReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="RetargetingListServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RetargetingListServiceSoapBinding" type="tns:RetargetingListServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetargetingListServiceService">
    <wsdl:port binding="tns:RetargetingListServiceSoapBinding" name="RetargetingListService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201812/RetargetingListService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
