wsdl/SearchKeywordIdeaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201903/SearchKeywordIdea"
        xmlns:tns="http://im.yahooapis.jp/V201903/SearchKeywordIdea"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201903">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201903/SearchKeywordIdea"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201903"
            xmlns:tns="http://im.yahooapis.jp/V201903/SearchKeywordIdea">
      <xsd:import namespace="http://im.yahooapis.jp/V201903"/>
      <annotation>
        <appinfo>
          <version>201903</version>
        </appinfo>
      </annotation>
      <complexType name="SearchKeywordIdeaSelector">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="keywords" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="keywordIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="searchKeywordRecency" type="tns:KeywordRecency"/>
          <element maxOccurs="1" minOccurs="0" name="searchKeywordFrequency" type="tns:KeywordFrequency"/>
          <element maxOccurs="1" minOccurs="0" name="sortField" type="tns:SortField"/>
          <element maxOccurs="1" minOccurs="0" name="sortType" type="tns:SortType"/>
          <element maxOccurs="1" minOccurs="0" name="matchType" type="tns:MatchType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="SearchKeywordIdeaPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:SearchKeywordIdeaValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SearchKeywordIdeaValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="searchKeywordIdea" type="tns:SearchKeywordIdea"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SearchKeywordIdea">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="searchKeywordId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="searchKeyword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="desktopSearchVolume" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="smartPhoneSearchVolume" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="tabletSearchVolume" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="releaseDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="KeywordRecency">
        <restriction base="xsd:string">
          <enumeration value="WITHIN_1DAY"/>
          <enumeration value="WITHIN_3DAYS"/>
          <enumeration value="WITHIN_7DAYS"/>
          <enumeration value="WITHIN_14DAYS"/>
          <enumeration value="WITHIN_30DAYS"/>
        </restriction>
      </simpleType>
      <simpleType name="KeywordFrequency">
        <restriction base="xsd:string">
          <enumeration value="ONCE_OR_MORE"/>
          <enumeration value="TWICE_OR_MORE"/>
          <enumeration value="THREE_TIMES_OR_MORE"/>
        </restriction>
      </simpleType>
      <simpleType name="SortField">
        <restriction base="xsd:string">
          <enumeration value="KEYWORD"/>
          <enumeration value="KEYWORD_ID"/>
          <enumeration value="DESKTOP_SEARCH_VOLUME"/>
          <enumeration value="SMART_PHONE_SEARCH_VOLUME"/>
          <enumeration value="TABLET_SEARCH_VOLUME"/>
          <enumeration value="RELEASE_DATE"/>
        </restriction>
      </simpleType>
      <simpleType name="SortType">
        <restriction base="xsd:string">
          <enumeration value="ASC"/>
          <enumeration value="DESC"/>
        </restriction>
      </simpleType>
      <simpleType name="MatchType">
        <restriction base="xsd:string">
          <enumeration value="EXACT"/>
          <enumeration value="BROAD"/>
        </restriction>
      </simpleType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:SearchKeywordIdeaSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:SearchKeywordIdeaPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="SearchKeywordIdeaServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchKeywordIdeaServiceSoapBinding" type="tns:SearchKeywordIdeaServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchKeywordIdeaService">
    <wsdl:port binding="tns:SearchKeywordIdeaServiceSoapBinding" name="SearchKeywordIdeaService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201903/SearchKeywordIdeaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
