wsdl/StatsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201809/Stats"
        xmlns:tns="http://im.yahooapis.jp/V201809/Stats"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201809"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201809">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201809/Stats"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201809"
            xmlns:tns="http://im.yahooapis.jp/V201809/Stats">
      <xsd:import namespace="http://im.yahooapis.jp/V201809"/>
      <annotation>
        <appinfo>
          <version>201809</version>
        </appinfo>
      </annotation>
      <complexType name="StatsSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="mediaIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriod" type="tns:StatsPeriod"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
          <element maxOccurs="1" minOccurs="0" name="statsType" type="tns:StatsType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="StatsPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="period" type="tns:Period"/>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:StatsValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Period">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodStartDate" type="tns:PeriodDatetime"/>
          <element maxOccurs="1" minOccurs="0" name="periodEndDate" type="tns:PeriodDatetime"/>
        </sequence>
      </complexType>
      <complexType name="PeriodDatetime">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="periodTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="StatsValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="mediaId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="statsPeriod" type="tns:StatsPeriod"/>
              <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
              <element maxOccurs="1" minOccurs="0" name="statsType" type="tns:StatsType"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Stats">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="imps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="clickRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="totalClickCost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="clickCnt" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="avgClickCost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="conversions" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cpa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="valuePerConversions" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="allConversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="allConversionRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="allCpa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="allConversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="valuePerAllConversions" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="avgDeliverRank" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="totalVimps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="vImps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="inViewClickCnt" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="inViewRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="inViewClickRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="autoVideoPlays" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="clickVideoPlays" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewedRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="paidVideoViews" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="paidVideoViewRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="averageCpv" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="videoPlays" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViews" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo25" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo50" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo75" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo95" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo100" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo3Sec" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="averageRateVideoViewed" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="averageDurationVideoViewed" type="xsd:double"/>
        </sequence>
      </complexType>
      <simpleType name="StatsType">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN"/>
          <enumeration value="ADGROUP"/>
          <enumeration value="AD"/>
          <enumeration value="IMAGE"/>
          <enumeration value="VIDEO"/>
        </restriction>
      </simpleType>
      <simpleType name="StatsPeriod">
        <restriction base="xsd:string">
          <enumeration value="REALTIME_TODAY"/>
          <enumeration value="DEFINITE_VALUE_YESTERDAY"/>
          <enumeration value="DEFINITE_VALUE_LASTWEEK"/>
          <enumeration value="DEFINITE_VALUE_LASTBSDAY"/>
          <enumeration value="DEFINITE_VALUE_WEEK"/>
          <enumeration value="DEFINITE_VALUE_TWOWEEK"/>
          <enumeration value="DEFINITE_VALUE_THIRTYDAY"/>
          <enumeration value="REALTIME_MONTH"/>
          <enumeration value="DEFINITE_VALUE_LASTMONTH"/>
          <enumeration value="DEFINITE_VALUE_LAST13MONTH"/>
          <enumeration value="CUSTOM_DATE"/>
        </restriction>
      </simpleType>
      <complexType name="StatsPeriodCustomDate">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="statsStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="statsEndDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:StatsSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:StatsPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="StatsServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatsServiceSoapBinding" type="tns:StatsServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatsService">
    <wsdl:port binding="tns:StatsServiceSoapBinding" name="StatsService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201809/StatsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
