wsdl/StatsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201907/Stats"
        xmlns:tns="http://im.yahooapis.jp/V201907/Stats"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201907"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201907">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201907/Stats"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201907"
            xmlns:tns="http://im.yahooapis.jp/V201907/Stats">
      <xsd:import namespace="http://im.yahooapis.jp/V201907"/>
      <annotation>
        <appinfo>
          <version>201907</version>
        </appinfo>
      </annotation>
      <complexType name="StatsSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="mediaIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="targetTypes" type="tns:TargetType"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriod" type="tns:StatsPeriod"/>
          <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
          <element maxOccurs="1" minOccurs="0" name="statsType" type="tns:StatsType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="StatsPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="period" type="tns:Period"/>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:StatsValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Period">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodStartDate" type="tns:PeriodDatetime"/>
          <element maxOccurs="1" minOccurs="0" name="periodEndDate" type="tns:PeriodDatetime"/>
        </sequence>
      </complexType>
      <complexType name="PeriodDatetime">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="periodDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="periodTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="StatsValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="statsPeriod" type="tns:StatsPeriod"/>
              <element maxOccurs="1" minOccurs="0" name="statsPeriodCustomDate" type="tns:StatsPeriodCustomDate"/>
              <element maxOccurs="1" minOccurs="0" name="statsType" type="tns:StatsType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CampaignStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="adId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ImageStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="mediaId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="mediaName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="mediaTitle" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="VideoStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="mediaId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="videoName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="videoTitle" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetStatsValues">
        <complexContent>
          <extension base="tns:StatsValues">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="target" type="tns:Target"/>
              <element maxOccurs="1" minOccurs="0" name="stats" type="tns:Stats"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Stats">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="imps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="clickRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="clickCnt" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="avgCpc" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="conversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cpa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="valuePerConversions" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionsViaAdClick" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionRateViaAdClick" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cpaViaAdClick" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValueViaAdClick" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="valuePerConversionsViaAdClick" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="allConversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="allConversionRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="allCpa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="allConversionValue" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="valuePerAllConversions" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="crossDeviceConversions" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="avgDeliverRank" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="totalVimps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="vImps" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="inViewClickCnt" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="inViewRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="inViewClickRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="paidVideoViews" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="paidVideoViewRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="averageCpv" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="videoViews" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo25" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo50" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo75" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo95" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo100" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo3Sec" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="averageRateVideoViewed" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="averageDurationVideoViewed" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="convValuePerCost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="allConvValuePerCost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="convValueViaAdClickPerCost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="impsPrev" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="clickRatePrev" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="measuredImps" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="viewableImpsRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="viewableClicks" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="measuredImpsRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="viewableClickRate" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="videoViewsTo10Sec" type="xsd:long"/>
        </sequence>
      </complexType>
      <simpleType name="StatsType">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN"/>
          <enumeration value="ADGROUP"/>
          <enumeration value="AD"/>
          <enumeration value="IMAGE"/>
          <enumeration value="VIDEO"/>
          <enumeration value="TARGET"/>
        </restriction>
      </simpleType>
      <simpleType name="StatsPeriod">
        <restriction base="xsd:string">
          <enumeration value="REALTIME_TODAY"/>
          <enumeration value="DEFINITE_VALUE_YESTERDAY"/>
          <enumeration value="DEFINITE_VALUE_LASTWEEK"/>
          <enumeration value="DEFINITE_VALUE_LASTBSDAY"/>
          <enumeration value="DEFINITE_VALUE_WEEK"/>
          <enumeration value="DEFINITE_VALUE_TWOWEEK"/>
          <enumeration value="DEFINITE_VALUE_THIRTYDAY"/>
          <enumeration value="REALTIME_MONTH"/>
          <enumeration value="DEFINITE_VALUE_LASTMONTH"/>
          <enumeration value="DEFINITE_VALUE_LAST13MONTH"/>
          <enumeration value="CUSTOM_DATE"/>
        </restriction>
      </simpleType>
      <complexType name="StatsPeriodCustomDate">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="statsStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="statsEndDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Target">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="type" type="tns:TargetType"/>
          <element maxOccurs="1" minOccurs="0" name="targetSetting" type="tns:TargetSetting"/>
          <element maxOccurs="1" minOccurs="0" name="targetId" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="TargetSetting">
        <restriction base="xsd:string">
          <enumeration value="NONE"/>
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="TargetType">
        <restriction base="xsd:string">
          <enumeration value="AD_SCHEDULE_TARGET"/>
          <enumeration value="GEO_TARGET"/>
          <enumeration value="AGE_TARGET"/>
          <enumeration value="GENDER_TARGET"/>
          <enumeration value="INTEREST_CATEGORY"/>
          <enumeration value="SITE_CATEGORY"/>
          <enumeration value="DEVICE_TARGET"/>
          <enumeration value="CARRIER_TARGET"/>
        </restriction>
      </simpleType>
      <simpleType name="TargetListDeliverType">
        <restriction base="xsd:string">
          <enumeration value="INCLUDE"/>
          <enumeration value="EXCLUDE"/>
        </restriction>
      </simpleType>
      <simpleType name="Age">
        <restriction base="xsd:string">
          <enumeration value="GT_RANGE13_14"/>
          <enumeration value="GT_RANGE15_17"/>
          <enumeration value="GT_RANGE18_19"/>
          <enumeration value="GT_RANGE20_21"/>
          <enumeration value="GT_RANGE22_29"/>
          <enumeration value="GT_RANGE30_39"/>
          <enumeration value="GT_RANGE40_49"/>
          <enumeration value="GT_RANGE50_59"/>
          <enumeration value="GT_RANGE60_69"/>
          <enumeration value="GT_RANGE70_UL"/>
          <enumeration value="GT_UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="EstimateFlg">
        <restriction base="xsd:string">
          <enumeration value="PAUSED"/>
          <enumeration value="ACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="DayOfWeek">
        <restriction base="xsd:string">
          <enumeration value="MONDAY"/>
          <enumeration value="TUESDAY"/>
          <enumeration value="WEDNESDAY"/>
          <enumeration value="THURSDAY"/>
          <enumeration value="FRIDAY"/>
          <enumeration value="SATURDAY"/>
          <enumeration value="SUNDAY"/>
        </restriction>
      </simpleType>
      <simpleType name="Gender">
        <restriction base="xsd:string">
          <enumeration value="ST_MALE"/>
          <enumeration value="ST_FEMALE"/>
          <enumeration value="ST_UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="PlacementUrlListType">
        <restriction base="xsd:string">
          <enumeration value="WHITE_LIST"/>
          <enumeration value="BLACK_LIST"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceType">
        <restriction base="xsd:string">
          <enumeration value="DESKTOP"/>
          <enumeration value="WAP_MOBILE"/>
          <enumeration value="SMARTPHONE"/>
          <enumeration value="TABLET"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceAppType">
        <restriction base="xsd:string">
          <enumeration value="APP"/>
          <enumeration value="WEB"/>
        </restriction>
      </simpleType>
      <simpleType name="DeviceOsType">
        <restriction base="xsd:string">
          <enumeration value="IOS"/>
          <enumeration value="ANDROID"/>
        </restriction>
      </simpleType>
      <simpleType name="CarrierType">
        <restriction base="xsd:string">
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="YMOBILE"/>
          <enumeration value="OTHERS"/>
        </restriction>
      </simpleType>
      <complexType name="AdScheduleTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="dayOfWeek" type="tns:DayOfWeek"/>
              <element maxOccurs="1" minOccurs="0" name="startHour" type="xsd:int"/>
              <element maxOccurs="1" minOccurs="0" name="endHour" type="xsd:int"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GeoTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="geoNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="geoNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AgeTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="age" type="tns:Age"/>
              <element maxOccurs="1" minOccurs="0" name="estimateFlg" type="tns:EstimateFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="GenderTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="gender" type="tns:Gender"/>
              <element maxOccurs="1" minOccurs="0" name="estimateFlg" type="tns:EstimateFlg"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="InterestCategoryTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SearchTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="searchKeywordListName" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SiteCategoryTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameJa" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="categoryFullNameEn" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SiteRetargetingTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetListName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="deliverType" type="tns:TargetListDeliverType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PlacementTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="placementUrlListName" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="deliverType" type="tns:PlacementUrlListType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DeviceTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="deviceType" type="tns:DeviceType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CarrierTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="mobileCarrier" type="tns:CarrierType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AppTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="appType" type="tns:DeviceAppType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="osType" type="tns:DeviceOsType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OsVersionTarget">
        <complexContent>
          <extension base="tns:Target">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="osVersion" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:StatsSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:StatsPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="StatsServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatsServiceSoapBinding" type="tns:StatsServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatsService">
    <wsdl:port binding="tns:StatsServiceSoapBinding" name="StatsService">
      <wsdlsoap:address location="https://location.im.yahooapis.jp/services/V201907/StatsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
