wsdl/VideoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://im.yahooapis.jp/V201911/Video"
        xmlns:tns="http://im.yahooapis.jp/V201911/Video"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201911"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://im.yahooapis.jp/V201911">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://im.yahooapis.jp/V201911/Video"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://im.yahooapis.jp/V201911"
            xmlns:tns="http://im.yahooapis.jp/V201911/Video">
      <xsd:import namespace="http://im.yahooapis.jp/V201911"/>
      <annotation>
        <appinfo>
          <version>201911</version>
        </appinfo>
      </annotation>
      <complexType name="VideoSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="mediaIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="userStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="approvalStatuses" type="tns:ApprovalStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="processStatuses" type="tns:VideoProcessStatus"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <complexType name="VideoPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:VideoValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="VideoValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="video" type="tns:Video"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Video">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="mediaId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="videoName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="videoTitle" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="userStatus" type="tns:UserStatus"/>
          <element maxOccurs="1" minOccurs="0" name="creationTime" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="approvalStatus" type="tns:ApprovalStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="processStatus" type="tns:VideoProcessStatus"/>
          <element maxOccurs="1" minOccurs="0" name="videoSetting" type="tns:VideoSetting"/>
        </sequence>
      </complexType>
      <complexType name="VideoSetting">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="videoFileType" type="tns:VideoFileType"/>
          <element maxOccurs="1" minOccurs="0" name="videoAdFormat" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="fileSize" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="width" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="height" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="playbackTime" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="downloadOriginalUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadHighBitrateUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadMiddleBitrateUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadLowBitrateUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="videoAspectRatio" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="UploadVideo">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="videoName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="videoTitle" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="userStatus" type="tns:UserStatus"/>
        </sequence>
      </complexType>
      <complexType name="UploadUrlPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:UploadUrlValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="UploadUrlValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="uploadUrlValue" type="tns:UploadUrlValue"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="UploadUrlValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="acceptableUploadStatus" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="uploadUrl" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="VideoOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:Video"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="VideoReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:VideoValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <simpleType name="UserStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="ApprovalStatus">
        <restriction base="xsd:string">
          <enumeration value="APPROVED"/>
          <enumeration value="REVIEW"/>
          <enumeration value="PRE_DISAPPROVED"/>
          <enumeration value="POST_DISAPPROVED"/>
        </restriction>
      </simpleType>
      <simpleType name="VideoProcessStatus">
        <restriction base="xsd:string">
          <enumeration value="PROCESSING"/>
          <enumeration value="FINISHED"/>
          <enumeration value="FAILED"/>
        </restriction>
      </simpleType>
      <simpleType name="VideoFileType">
        <restriction base="xsd:string">
          <enumeration value="MP4"/>
        </restriction>
      </simpleType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:VideoSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:VideoPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:VideoOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:VideoReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getUploadUrl">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
            <element maxOccurs="unbounded" minOccurs="1" name="uploadVideo" type="tns:UploadVideo"/>
          </sequence>
        </complexType>
      </element>
      <element name="getUploadUrlResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:UploadUrlPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUploadUrlRequest">
    <wsdl:part element="tns:getUploadUrl" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUploadUrlResponse">
    <wsdl:part element="tns:getUploadUrlResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="VideoServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getUploadUrl">
      <wsdl:input message="tns:getUploadUrlRequest" name="getUploadUrlRequest"/>
      <wsdl:output message="tns:getUploadUrlResponse" name="getUploadUrlResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VideoServiceSoapBinding" type="tns:VideoServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUploadUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUploadUrlRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUploadUrlResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoService">
    <wsdl:port binding="tns:VideoServiceSoapBinding" name="VideoService">
      <wsdlsoap:address location="https://location.im.yahooapis.jp/services/V201911/VideoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
