wsdl/PromotionalAccountService/PromotionalAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://im.yahooapis.jp/V5"
xmlns:tns="http://im.yahooapis.jp/V5"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
    targetNamespace="http://im.yahooapis.jp/V5"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://im.yahooapis.jp/V5">
      <annotation>
        <appinfo>
          <version>5.3.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="AccountSelector">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="accountIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="paymentTypes" type="tns:PaymentType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="accountStatuses" type="tns:AccountStatus"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="PromotionalAccountPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AccountValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AccountValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="account" type="tns:Account"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Account">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="accountName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountStatus" type="tns:AccountStatus"/>
          <element maxOccurs="1" minOccurs="0" name="deliveryStatus" type="tns:DeliveryStatus"/>
          <element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountPayment" type="tns:AccountPayment"/>
          <element maxOccurs="1" minOccurs="0" name="contactBizId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="agencyPersonName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="agencyPrefectureCode" type="tns:PrefectureCode"/>
          <element maxOccurs="1" minOccurs="0" name="client" type="tns:Client"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="AccountPayment">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="paymentType" type="tns:PaymentType"/>
        </sequence>
      </complexType>
      <complexType name="Prepay">
        <complexContent>
          <extension base="tns:AccountPayment">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="autoChargeStatus" type="tns:AutoChargeStatus"/>
              <element maxOccurs="1" minOccurs="0" name="autoCharge" type="tns:AutoCharge"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Invoice">
        <complexContent>
          <extension base="tns:AccountPayment">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="budgetAmount" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AutoCharge">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="chargeAmount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="updateDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="AutoChargeStatus">
        <restriction base="xsd:string">
          <enumeration value="NONE"/>
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="PaymentType">
        <restriction base="xsd:string">
          <enumeration value="PREPAY"/>
          <enumeration value="INVOICE"/>
        </restriction>
      </simpleType>
      <simpleType name="DeliveryStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="AccountStatus">
        <restriction base="xsd:string">
          <enumeration value="INPROGRESS"/>
          <enumeration value="PENDING"/>
          <enumeration value="WAIT_DECIDE"/>
          <enumeration value="SUSPENDED"/>
          <enumeration value="SERVING"/>
          <enumeration value="ENDED"/>
        </restriction>
      </simpleType>
      <simpleType name="IsAdultAccount">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <complexType name="Client">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="companyName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="companyNameKana" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="enterpriseType" type="tns:EnterpriseType"/>
          <element maxOccurs="1" minOccurs="0" name="enterpriseTypePosition" type="tns:EnterpriseTypePosition"/>
          <element maxOccurs="1" minOccurs="0" name="zip" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="prefectureCode" type="tns:PrefectureCode"/>
          <element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="street1" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="street2" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="building" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="urlType" type="tns:UrlType"/>
          <element maxOccurs="1" minOccurs="0" name="clientPersonName" type="xsd:string"/>         
        </sequence>
      </complexType>
      <simpleType name="EnterpriseType">
        <restriction base="xsd:string">
          <enumeration value="KABUSHIKI"/>
          <enumeration value="YUGEN"/>
          <enumeration value="GOSI"/>
          <enumeration value="ZAIDAN"/>
          <enumeration value="SYADAN"/>
          <enumeration value="SYUKYO"/>
          <enumeration value="GAKKO"/>
          <enumeration value="KOJIN"/>
          <enumeration value="OTHER"/>
        </restriction>
      </simpleType>
      <simpleType name="EnterpriseTypePosition">
        <restriction base="xsd:string">
          <enumeration value="FRONT"/>
          <enumeration value="BACK"/>
        </restriction>
      </simpleType>
      <simpleType name="PrefectureCode">
        <restriction base="xsd:string">
          <enumeration value="HOKKAIDO"/>
          <enumeration value="AOMORI"/>
          <enumeration value="IWATE"/>
          <enumeration value="MIYAGI"/>
          <enumeration value="AKITA"/>
          <enumeration value="YAMAGATA"/>
          <enumeration value="FUKUSHIMA"/>
          <enumeration value="IBARAKI"/>
          <enumeration value="TOCHIGI"/>
          <enumeration value="GUNMA"/>
          <enumeration value="SAITAMA"/>
          <enumeration value="CHIBA"/>
          <enumeration value="TOKYO"/>
          <enumeration value="KANAGAWA"/>
          <enumeration value="NIIGATA"/>
          <enumeration value="TOYAMA"/>
          <enumeration value="ISHIKAWA"/>
          <enumeration value="FUKUI"/>
          <enumeration value="YAMANASHI"/>
          <enumeration value="NAGANO"/>
          <enumeration value="GIFU"/>
          <enumeration value="SHIZUOKA"/>
          <enumeration value="AICHI"/>
          <enumeration value="MIE"/>
          <enumeration value="SIGA"/>
          <enumeration value="KYOTO"/>
          <enumeration value="OSAKA"/>
          <enumeration value="HYOGO"/>
          <enumeration value="NARA"/>
          <enumeration value="WAKAYAMA"/>
          <enumeration value="TOTTORI"/>
          <enumeration value="SHIMANE"/>
          <enumeration value="OKAYAMA"/>
          <enumeration value="HIROSHIMA"/>
          <enumeration value="YAMAGUCHI"/>
          <enumeration value="TOKUSHIMA"/>
          <enumeration value="KAGAWA"/>
          <enumeration value="EHIME"/>
          <enumeration value="KOCHI"/>
          <enumeration value="FUKUOKA"/>
          <enumeration value="SAGA"/>
          <enumeration value="NAGASAKI"/>
          <enumeration value="KUMAMOTO"/>
          <enumeration value="OITA"/>
          <enumeration value="MIYAZAKI"/>
          <enumeration value="KAGOSHIMA"/>
          <enumeration value="OKINAWA"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>                                                            
      <simpleType name="UrlType">
        <restriction base="xsd:string">
          <enumeration value="PC"/>
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="SMART_PHONE"/>
          <enumeration value="OTHER"/>
        </restriction>
      </simpleType>
      <complexType name="AccountOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="bizId" type="xsd:string"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:Account"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PromotionalAccountReturnValue">
        <complexContent>
          <extension base="tns:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AccountValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="selector" type="tns:AccountSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:PromotionalAccountPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AccountOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:PromotionalAccountReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="PromotionalAccountServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PromotionalAccountServiceSoapBinding" type="tns:PromotionalAccountServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PromotionalAccountService">
    <wsdl:port binding="tns:PromotionalAccountServiceSoapBinding" name="PromotionalAccountService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V5.3/PromotionalAccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
